@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-neutral-100;
    }
}

body {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(16, 31, 37, 1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
